Backend/Services/UserService/.env
/Backend/Services/UserService/node_modules
Backend/Services/BusinessService/.env
/Backend/Services/BusinessService/node_modules
.DS_Store
Backend/Gateways/ApiGateway/.env
/Backend/Gateways/ApiGateway/node_modules
Backend/Services/AuthService/.env
/Backend/Services/AuthService/node_modules
